@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  --foreground: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    /* --foreground: #ededed; */
  }
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* From Uiverse.io by tomaskriegelstein */
.readMoreBtn {
  font-size: 18px;
  color: grey;
  font-family: Poppins;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 500ms;
  transition-property: color;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0 80px;
}

.readMoreBtn:focus,
.readMoreBtn:hover {
  color: #faf3e0;
}

.readMoreBtn:focus:after,
.readMoreBtn:hover:after {
  width: 100%;
  left: auto;
}

.readMoreBtn:after {
  content: "";
  pointer-events: none;
  bottom: -7px;
  right: auto;
  left: 0;
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #f83e55;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 600ms;
  transition-property: width, right;
}

.svg-icon {
  width: 0.9em;
  height: 0.8em;
  margin-left: 10px;
  fill: grey;
  transform: rotate(-45deg);
  transition: transform 0.5s ease-out;
}

.readMoreBtn:hover .svg-icon {
  transform: rotate(0deg);
  fill: #faf3e0;
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 50%;
  display: flex;
  justify-content: start;
  justify-items: start;
  flex-direction: column;
  gap: 25px;
}

.form__field {
  /* font-family: inherit; */
  width: 100%;
  border: none;
  display: flex;
  justify-content: start;
  justify-items: start;
  flex-direction: column;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 18px;
  color: #faf3e0;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  /* font-weight: 700; */
  border-width: 3px;
  border-image: linear-gradient(to right, #f83e55, #faf3e0);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #f83e55;
  font-weight: 700;
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

@media (width: 375px) {
  .readMoreBtn {
    align-items: start;
    justify-items: start;
    margin: 0;
  }
  .form__group {
    width: 100%;
  }
}
